# Ignore all log files
*.log

# Ignore tempCodeRunnerFile.py
tempCodeRunnerFile.*

# Ignore all .pyc files
*.pyc

# Ignore all the text files
*.txt

# Track requirements.txt
!requirements.txt

# Ignore all the .csv files
*.csv

# Ignore all the .json files
*.json
